<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.larz.dom3.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.larz.dom3.Perspective"
            id="org.larz.dom3.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.larz.dom3.application"
            name="Dom3 Editor">
         <property
               name="windowImages"
               value="icons/alt_window_16.png,icons/alt_window_32.png,icons/alt_window_48.png,icons/alt_window_64.png,icons/alt_window_128.png">
         </property>
         <property
               name="appName"
               value="Dom3 Editor">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.png">
         </property>
         <property
               name="aboutText"
               value="This is the Dominions 3 Editor.&#10;&#10;Release 0.8.1 - April 15th, 2011.">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.larz.dom3.editor.DmEditor"
            default="true"
            extensions="dm"
            icon="icons/alt_window_16.png"
            id="org.larz.dom3.editor.DmEditor"
            name="Dm Editor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.editorActions"> 
      <editorContribution 
            id="org.larz.dom3.editor.DmEditor.contribution" 
            targetID="org.larz.dom3.editor.DmEditor">
         <action
            id="org.eclipse.ui.articles.action.contribution.editor.action1" 
            label="Fix ID Numbers" 
            icon="icons/fix.png"
            tooltip="Fix ID Numbers"
            toolbarPath="Normal/additions"
            class="org.larz.dom3.editor.EditorActionDelegate"> 
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.larz.dom3.ActionWiper">
      </startup>
   </extension>

</plugin>
